.container {
    display: block;
    border: 1px solid #bec0c2;
    background-color: #fff;
    width: 100%;
    max-width: 700px;
    margin: 100px auto;
}

/* -------
bet container (stake, odds type, each way)
------- */

#bet-container {
    display: block;
    border-bottom: 1px solid #bec0c2;
}

#bet-container label {
    display: inline-block;
    vertical-align: top;
    width: 29%;
    height: 40px;
    box-sizing: border-box;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    background: #000;
}

.each-way-container {
    display: inline-block;
    width: 70%;
    height: 40px;
}

.each-way-container input {
    margin: 5px 0;
    width: 30px;
    height: 30px;
}

#bet-container select, input {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 70%;
    height: 40px;
    padding: 0 5px;
    margin: 2px 0 0 0;
}

/* -------
selections odds decimal/fractional each way factor and win place
------- */

.selections {
    padding: 0 10px 10px 10px;
}

.selections select {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: 40px;
    border-bottom: 1px solid #bec0c2;
    padding: 0 5px;
}

.selections table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: none;
}

.odds-fractional {
    box-sizing: border-box;
    width: 50%;
    max-width: 75px;
}

/* -------
winnings returns and profit
------- */
.winnings {
    display: block;
    padding: 10px;
}

.winnings div {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 5px);
    box-sizing: border-box;
    padding: 20px 0;
    text-transform: uppercase;
    color: #fff;
    background: #ccc;
}







.returns, .profit {
    text-align: center;
}
